@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','Alata', sans-serif;
    scroll-behavior: smooth;
    outline: none;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#020d11,#7597de);
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
header .logo{
    color: #fff;
    font-family: 'Alata',sans-serif;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 5px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    font-family: 'Alata','Poppins',sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    padding: 6px 10px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active
{
    background: #fff;
    color: #2b1055;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section::before{
    content: '';
    position: absolute;
    bottom: 0;
    /* transform: translateY(60px); */
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#1c0522,transparent);
    z-index: 1000;
}

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img#fog{
    mix-blend-mode: screen;
    width: 100%;
    z-index: 9;
}

section img#haze{
    mix-blend-mode: screen;
    z-index: 10;
}

section img#logo{
    width: 540px;
    left: 35.5%;
    height: auto;
    z-index: 12;
}

section img#buzz{
    z-index: 8;
}

#text{
    position:absolute;
    color: rgb(194, 210, 255);
    font-family: 'Alata', 'Poppins', sans-serif;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 8px;
    white-space: nowrap;
    font-size: 5.5vw;
    z-index: 6;
}
#btn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(300px);
}
.sec{
    position: relative;
    padding: 100px;
    background: #1c0522;
}

.sec h2{
    font-family: 'Alata','Poppins',sans-serif;
    letter-spacing: 3px;
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}

.sec h3{
    font-family: 'Alata','Poppins',sans-serif;
    font-size: 32px;
    letter-spacing: 4px;
    font-style: italic;
    text-transform: uppercase;
    color: #5fb7ff;
}

.sec p{
    font-family: 'Poppins','Alata', sans-serif;
    font-size: 1.2em;
    font-weight: 200;
    letter-spacing: 1px;
    color: #fff;
}

footer{
    background-color: #1c0522;
    padding-top: 1px;
}


footer .footer-items{
    text-align: center;
    margin-top: 20px;
}

.footer-items i{
    font-size: 27px;
    margin: 0 5px;
    color: rgb(194, 210, 255);
}

.footer-items a{
    font-size: 14px;
    color: rgb(194, 210, 255);
    letter-spacing: 4px;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-items p{
    font-size: 14px;
    color: rgb(194, 210, 255);
    letter-spacing: 4px;
    text-transform: uppercase;
}